.home {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    margin-left: 1vw;
    height: 70vh;
    justify-content: space-evenly;
}

.section {
    display: flex;
    height: 60vh;
}

.title {
    display: flex;
    flex-direction: column;
    width: 55vw; 
    font-size: 70px; 
    font-family: 'Segoe UI'
}

.one-line-title {
    display: none;
}

.mat-raised-button {
    background-color: #0374d5;
    color: white;
    font-family: Calibri;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .home {
        padding-top: 0%;
    }

    .text {
        width: 90%;
        margin: 0 auto;
    }

    .title {
        display: none;
    }

    .one-line-title {
        display: block;
        font-size: 30px;
    }

    .description {
        font-size: small;
    }

    .title {
        font-size: 25px; 
        width: 100%;
    }

    .mat-raised-button {
        font-size: 12px;
    }

    img {
        display: none;
    }

    .button {
        margin: 5vh auto;
    }
  }
  