<div class="home">
  <div class="section">
    <div class="text" style="display: flex; flex-direction: column;  justify-content: space-evenly;">
      <div class="title">
        All data in
        <br>
        ONE place
      </div>
      <div class="one-line-title">All data in ONE place</div>
      <div class="description" style="font-size: large;">
        Tired of searching alone information about your stocks? <br>
        We will help you to follow every stock you want by customizing your profile <br>
        You will be able to see all the biggest news and everything that’s going on in the market <br>
        so YOU can make to best decisions in your investing's!
      </div>
    </div>
    <img src="../assets/homePicture.png" width="500">
  </div>
  <div class="button">
    <button mat-raised-button routerLink="main" color="primary">Get Started</button>
  </div>
</div>