<div class="myWall">
  <div class="bar">
    <div class="logo"><label style="color: #548235">Inves</label><label>tour</label></div>
    <div><label> Hi {{firstName$ | async}} {{lastName$ | async}} </label></div>
  </div>
  <div class="content">
    <h1>My Wall</h1>
    <button mat-stroked-button routerLink="stockList">Stock List</button>
    <div class="sections">
      <div class="section">
        <h2 style="margin: 2%;">Stock Status</h2>
        <div class="articles">
          <stock *ngFor="let stock of (stocks$ | async)" class="article" [stock]="stock"></stock>
        </div>
      </div>
      <div class="section">
        <h2 style="margin: 2%;">News</h2>
        <div class="articles">
          <article *ngFor="let article of (allNewByUserId$ | async)" class="article" [article]="article"></article>
        </div>
      </div>
      <div class="section">
        <h2 style="margin: 2%;">Social Media</h2>
        <div class="articles">
          <article *ngFor="let article of []" class="article" [article]="article"></article>
        </div>
      </div>
    </div>
  </div>
</div>