<div class="stock">
    <div class="name">
      <label> {{this.stock.symbol}} </label>
      <label style="font-size: small;"> {{this.stock.name}} </label>
    </div>
    <div style=" display: flex; justify-content: center; width: 30%;">
      {{this.stock.price}} $
    </div>
    <div [ngClass]="this.stock.change > 0 ? 'rise' : 'lala'">
      <mat-icon>{{stock.change > 0 ? 'trending_up' : 'trending_down'}}</mat-icon>
      {{ this.abs(this.stock.change)}} %
    </div>
    <!-- <mat-icon (click)="toggle()">{{isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon> -->
<!-- </div> -->
<!-- <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header> -->
    <!-- <div class="stock">
      <div class="name">
        <label> {{this.stock.symbol}} </label>
        <label style="font-size: small;"> {{this.stock.name}} </label>
      </div>
      <div style=" display: flex; justify-content: center; width: 30%;">
        {{this.stock.price}} $
      </div>
      <div [ngClass]="this.stock.change > 0 ? 'rise' : 'lala'">
        <mat-icon>{{stock.change > 0 ? 'trending_up' : 'trending_down'}}</mat-icon>
        {{ this.abs(this.stock.change)}} %
      </div>
    </div> -->
    <!-- <mat-panel-title>
      <label> {{this.stock.symbol}} </label>
        <label style="font-size: small;"> {{this.stock.name}} </label>
    </mat-panel-title>
    <mat-panel-description>
      Currently I am {{panelOpenState ? 'open' : 'closed'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{ stock.name }}</p>
</mat-expansion-panel> -->