.signUp
{
    width: 25vw;
    height: 70vh;
    font-family: Calibri;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 87%;
}

::ng-deep.mat-dialog-container{
    background-color: #333333;
}

.input {
    height: 5.5vh;
    width: 22vw;
    background-color: #423f3f;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    padding: 5px;
}

.input:hover {
    background-color: #3c3838;
}

.lala {
    height: 6vh;
    width: 22vw;
    background-color: transparent;
    border: 0px solid;
    padding: 0%;
    display: block;
    padding-left: 2px;
}

.mat-icon-button {
    height: 6vh;
    line-height: 6vh;
}

.input:focus, .lala:focus {
    outline: none;
}

.mat-raised-button {
    border:1px solid #f8d24b;
    background-color: transparent;
    color: white;
    font-family: Calibri;
    font-size: 15px;
    width: fit-content;
}

.mat-raised-button:hover {
    background-color: #f8d24b;
}