<div class="addStock">
    <h1>Add New Stock</h1>
    <input class="input" placeholder="Search" (input)="search($event)">
    <div class="list">
        <div class="section" *ngFor="let stock of filteredStockList" (click)="add($event)">
            <img [src]="stock.isInUserFav ? './assets/filledHeart.png' : './assets/heart.png'" width="20" height="20" [ngClass]="stock.isInUserFav ? '': 'user'">
            <label style="margin-left: 3%">{{stock.symbol}}</label>
        </div>
    </div> 
</div>