.myWall {
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    font-family: Calibri;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    height: 92vh;
    justify-content: space-evenly;
    text-align: center;
}

.bar {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    height: 8vh;
    align-items: center;
}
.menu {
    width: 60vw;
    display: flex;
}

.logo {
    font-size: 70px;
    text-decoration: none;
}

.sections {
    display: flex;
    justify-content: space-evenly;
}
.section {
    width: 30vw;
    height: 75vh;
    background-color: #635d5d;
    border-radius: 20px;
}

.article {
    width: 28vw;
    height: 10vh;
    margin: 5px;
}

.articles {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 86%;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #635d5d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #504b4b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b3838; 
  }