<div class="myWall">
  <div class="bar">
    <div class="menu"><a class="logo" [routerLink]="['/main']"><label style="color: #548235">Inves</label><label style="color: white">tour</label></a>    <a *ngIf="name" style="color: #548235;margin-left: 35px; text-decoration: none;" [routerLink]="['/myWall']"> my wall </a>
    <a *ngIf="name" style="color: #548235;margin-left: 35px; text-decoration: none;" [routerLink]="['/stockList']"> stocks list </a>
  </div>
    <div><label  *ngIf="name"> Hi {{firstName$ | async}} {{lastName$ | async}} </label></div>
  </div>
  <div class="content">
    <h1>Info</h1>
    <div class="sections">
      <div class="section">
        <h2 style="margin: 2%;">Stock Status</h2>
        <div class="articles">
          <!-- <mat-accordion> -->
            <stock *ngFor="let stock of (stocks$ | async)" class="article" [stock]="stock" (click)="gotoStockPage(stock.symbol)"></stock>
          <!-- </mat-accordion> -->
        </div>
      </div>
      <div class="section">
        <h2 style="margin: 2%;">News</h2>
        <div class="articles">
          <article *ngFor="let article of (allNewByUserId$ | async)" class="article" [article]="article"></article>
        </div>
      </div>
      <div class="section">
        <h2 style="margin: 2%;">Social Media</h2>
        <div class="articles">
          <article *ngFor="let article of []" class="article" [article]="article"></article>
        </div>
      </div>
    </div>
  </div>
</div>