<div class="stocksList">
    <div class="bar">
        <div class="logo"><label style="color: #548235">Inves</label><label>tour</label></div>
        <div><label> Hi {{firstName$ | async}} {{lastName$ | async}} </label></div>
    </div>
    <div class="content">
        <h1>Stock List</h1>
        <div class="stocksList">
            <div class="stock" *ngFor="let stock of StockList">
                {{stock.symbol}}
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addStock()">Add +</button>
    </div>
</div>