.website {
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    color: white;
}

a {
    color: #afa697;
}

a:active {
    color: #0374d5;
}

a[tabindex]:focus {
    color:#0374d5;
    outline: none;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 10vh;
}

.content {
    height: 90vh;
}

.mat-stroked-button:hover {
    background-color: #f8d24b;
    color: white;
    font-family: Calibri;
    font-size: 15px;
}

.mat-stroked-button {
    background-color: transparent;
    color: white;
    font-family: Calibri;
    font-size: 15px;
    margin: 1% ;
}