.myProfilePage {
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user {
    color: white;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    /* font-size: large; */
}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.mat-raised-button {
    border:1px solid #0374d5;
    background-color: transparent;
    color: white;
    font-family: Calibri;
    font-size: 15px;
    height: 6vh;
    width: 5vw;
}

.mat-raised-button:hover {
    background-color: #0374d5;
}

.section{
    margin-top: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 22vw;
    height: 30%;
    gap: 10px;

}

.stocksList>div {
    flex: 1 1 auto;

}

.stock {
    height: 6vh;
    min-width: 5vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #423f3f;
    padding-left: 10px;
    padding-right: 5px;
}

.icon {
    font-size: small;
    height: 15px;
    width: auto;
}