<div class="myProfilePage">
  <h1 style="color:#0374d5; font-family: 'Poppins'">My Profile</h1>
  <div class="content">
    <div class="user">
      <img src="./../../assets/avatar1.png" width="150" height="150">
      <div> <label style="font-size: medium; font-weight: 500;">First Name:</label> {{(user$ | async).firstName}}</div>
      <div> <label style="font-size: medium; font-weight: 500;">Last Name:</label> {{(user$ | async).lastName}}</div>
      <div> <label style="font-size: medium; font-weight: 500;">Email:</label> {{(user$ | async).email}}</div>
    </div>
    <div class="section">
      <h3 style="color:#0374d5; font-family: 'Poppins'">Stocks List</h3>
      <div class="list">
        <div class="stock" *ngFor="let stock of (UserStockList$ | async)">
          {{stock.symbol}}
          <mat-icon class="icon" (click)="remove(stock)">close</mat-icon>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="addStock()">Add +</button>
        </div>
      </div>
    </div>
    <div class="section">
      <h3 style="color:#0374d5; font-family: 'Poppins'">Websites List</h3>
      <div class="list">
        <div class="stock" *ngFor="let website of (websites$ | async)">
          {{website}}
          <mat-icon class="icon" (click)="remove(website)">close</mat-icon>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="addStock()">Add +</button>
        </div>
      </div>
    </div>
  </div>
</div>