<div class="stocksListPage">
        <h1 style="color:#0374d5; font-family: 'Poppins'">Stock List</h1>
        <div class="stocksList">
            <div [class]="stock" *ngFor="let stock of (UserStockList$ | async)">
                {{stock.symbol}}
            </div>
            <button mat-raised-button color="primary" (click)="addStock()">Add +</button>
        </div>
        <button mat-raised-button color="primary" (click)="addStock()"><mat-icon (click)="toggle()">arrow_right_alt</mat-icon></button>
</div>