<div class="myWall">
    <h1 style="color:#0374d5; font-family: 'Poppins'">My Wall</h1>
    <div class="sections">
      <div class="section">
        <h3 style="margin: 2%;font-family: 'Poppins'">Stock Status</h3>
        <div class="articles">
          <mat-accordion style="width: 100%;">
            <stock *ngFor="let stock of (userStocklList$ | async)" class="article" [stock]="stock"></stock>
          </mat-accordion>
        </div>
      </div>
      <div class="section">
        <h3 style="margin: 2%; font-family: 'Poppins'">News</h3>
        <div class="articles">
          <mat-accordion>
            <article *ngFor="let article of (allNewByUserId$ | async)" class="article" [article]="article"></article>
          </mat-accordion>
        </div>
      </div>
      <div class="section">
        <h3 style="margin: 2%; font-family: 'Poppins'">Social Media</h3>
        <div class="articles">
          <article *ngFor="let article of []" class="article" [article]="article"></article>
        </div>
      </div>
    </div>
</div>