<div class="signIn">
  <div class="logo">
    <label style="color: #548235" margin="1%">Inves</label><label>tour</label>
  </div>
  <div class="content">
    <h1>Sign In</h1>

    <!-- <input class="input" [(ngModel)]="email" placeholder="Email Adress"> -->
    <input class="input" [(ngModel)]="username" placeholder="Username">

    <div class="input">
        <input class="lala" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" placeholder="Password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
      
     <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
</div>
</div>