<div class="home">
  <div class="bar">
    <button mat-stroked-button routerLink="signIn">Sign In</button>
    <button mat-stroked-button routerLink="signUp">Sign Up</button>
  </div>
  <div class="content">
    <div class="logo">
      <label style="color: #548235">Inves</label><label>tour</label>
    </div>
    <div>
      Tired of searching alone information about your stocks? <br>
      We will help you to follow every stock you want by customizing your profile <br>
      You will be able to see all the biggest news and everything that’s going on in the market so YOU can make to best decisions in your investing's!
    </div>
    <div>
      <button mat-raised-button routerLink="signUp" color="primary">Join Us</button>
    </div>
</div>
</div>