mat-expansion-panel {
    width: 380px;
    margin-left: 6px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #333;
}

::ng-deep .mat-expansion-panel-header-title {
    width: 70px;
    margin: 5px;
    color: white;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

::ng-deep .mat-expansion-panel-header-description {
    align-items: center;
    margin-left: 3px;
}

::ng-deep .verybad .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ff0000;
}

::ng-deep .bad .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #f57003;
}

::ng-deep .natural .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #ffee00;
 }

 ::ng-deep .good .mat-progress-spinner circle, .mat-spinner circle {   
   stroke: #0ae703;
}
::ng-deep .verygood .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #259204;
}