<mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'90px'">
    <mat-panel-title style="width: 13%;">
      <img src="../assets/clock.png" width="20" height="20" style="filter: invert(100%);margin-top: 10px;">
      <label style="font-size: small; white-space: nowrap;">{{this.article.publishedAt | timeAgo}}</label>
    </mat-panel-title>
    <mat-panel-title style="width: 14%; padding-top: 6px;">
      <img style="margin-right: 3%; border-radius: 50%;" [src]="article.imageUrl" width="40" height="40">
    </mat-panel-title>
    <mat-panel-description [style.color]="'white'" style="width: 58%; font-size:13px; margin-right: 6px;">
      {{this.article.title}}
    </mat-panel-description>
    <mat-panel-description [style.color]="'#d2d0d3'" style="width: 10%; font-size:13px; margin-right: -10px;">
      <div [ngClass]="article.class" matTooltip="positivity of the article in percentages"><mat-progress-spinner diameter="25" [value]="article.sentimentScore"
          mode="determinate">
        </mat-progress-spinner>
        <span>{{article.sentimentScore}}% </span>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p style="color:white">{{ article.description }}</p>
</mat-expansion-panel>